<div class="login-page">
  <!-- HERO -->
  <div class="hero">
    <div class="brand">
      <img class="logo" src="/icono.png" />
      <span class="title">RELANCINA</span>
    </div>

    <div class="big-number">21</div>
    <p class="subtitle">THE ULTIMATE DEALER CHALLENGE</p>

    <div class="card-symbols">
      <span>♠</span>
      <span class="heart">♥</span>
      <span class="diamond">♦</span>
      <span>♣</span>
    </div>
  </div>

  <!-- CARD -->
  <div class="auth-card-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
