/* RESET TOTAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: #05070f;
}
.card-animate {
  animation: slideFade 0.35s ease both;
}

@keyframes slideFade {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
